.footer {
  bottom: 0;
  background-color: #e61515;
  padding: 2rem 4rem;
  text-align: center;
}
h4{
    color: white;
    margin: 0;

    a{
        text-decoration: none;
        color: white;

    }
}
